body {
    background-color: #C5EBAA;
}

.col-md-7 {
    margin-top: 150px;
    padding: 20px;
}

h1 {
    background-color: black;
    color: white;
}

#question {
    margin-left: 10px;
}

input,
label {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

button {
    margin: 10px;
    float: right;
}

footer {
    text-align: center;
    padding: 5px 0;
    height: 20px;
    background-color: #7ca775;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
    line-height: 20px;
    font-size: 16px;
    min-height: 20px;
}

@media screen and (max-width: 600px) {
    .col-md-7 {
        margin-top: 80px;
        font-size: 5px;
    }
    .row {
        margin-left: 10px;
        margin-right: 10px;
    }
    .optionzzz {
        display: flex;
        flex-direction: row;
    }
}
